.Flex-Container {
display: flex;
flex-direction: row;
background-color:rgb(84, 128, 3);
border: 3px solid rgb(224, 175, 12);
justify-content: space-between;}

section {
border: 3px solid rgb(234, 234, 234);
padding: 10px;
margin: space-between;
}
main{
    display: grid;
    grid-template-columns: 1fr 3fr;
    font-size: 2rem;
}
nav {
    display: grid;
    font-size: 1rem;

    
}